$primaryLightGray : #F0F1F1;
$primaryBrown : #5E5322;
$primaryYellow : #FAD648;
$primaryDarkGray : #737373;
$primaryBlack : #3C3C3C;

//- `#F0F1F1`
////- `#5E5322`
////- `#FAD648`
////- `#737373`
////- `#3C3C3C`