
.give-stuff {
  z-index: 4;
  display: flex;
  justify-content: center;
  //height: calc(100vh - 165px);
  //height: 100vh;
  animation: fade_in .2s linear both;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 260px;
  @media(max-width: 851px) {
    //height: 100vh;
  }

  @keyframes fade_in {
    100% {
      opacity: 1;
    }
  }

  &__img {
    position: absolute;
    z-index: 7;
    background: url("../assets/giveStuff-hero-img.jpg") no-repeat 0 -130px;
    background-size: cover;
    filter: blur(2px);
    opacity: .15;
    min-height: 100vh;
    width: 100%;
    transition: .1s;
    left: 0;
    bottom: 0;


  }

  &__main {
    z-index: 9;
    transition: .1s;
    text-align: center;

    .main__heading {
      font-size: 2.4rem;
      color: $primaryBlack;
      font-weight: normal;
      line-height: 1.5;
      @media(max-width: 693px) {
        font-size: 2rem;
      }
      @media(max-width: 476px) {
        padding: 0 40px;
      }
    }

    .decoration {
      width: 253px;
      height: 33px;
      background: url("../assets/Decoration.svg");
      margin: 0 auto;

    }

    .main__text {
      font-size: 2.4rem;
      font-weight: lighter;
      color: $primaryBlack;
      margin-bottom: 70px;
      @media(max-width: 693px) {
        font-size: 2rem;
      }
      @media(max-width: 476px) {
        font-size: 1.8rem;
        padding: 0 30px;
      }
    }

    .main__steps {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      @media(max-width: 693px) {
        flex-wrap: wrap;
        width: 80%;
      }

      .step-4, .step-3 {
        @media(max-width: 693px) {
          top: 21px;
        }
      }

      &--step {
        position: relative;
        border: 0.75px solid #3C3C3C;
        width: 150px;
        height: 150px;
        transform: rotate(45deg);
        margin-right: 20px;
        box-shadow: inset 0 0 14px 0 rgba(0, 0, 0, 0.2);
        @media(max-width: 851px) {
          width: 120px;
          height: 120px;
        }
        @media(max-width: 693px) {
          width: 150px;
          height: 150px;
        }
        @media(max-width: 476px) {
          width: 110px;
          height: 110px;
        }


        .step-container {
          position: absolute;
          left: 43%;
          top: 43%;
          transform: translate(-50%, -50%) rotate(-45deg);
          width: 80%;
          @media(max-width: 851px) {
            left: 50%;
            top: 52%;
          }

          .step__number {
            font-weight: lighter;
            display: block;
            font-size: 1.7rem;
            color: $primaryBlack;
            padding-bottom: 10px;
            @media(max-width: 851px) {
              font-size: 1.6rem;
              padding-bottom: 0;
            }
            @media(max-width: 476px) {
              font-size: 1.3rem;
            }
          }

          .step__description {
            font-weight: lighter;
            font-size: 1.3rem;
            color: $primaryBlack;
            margin-top: 30px;
            @media(max-width: 851px) {
              font-size: 1.2rem;
              margin-top: 20px;
            }
            @media(max-width: 476px) {
              font-size: 1rem;
            }
          }

        }
      }
    }


  }
}

.give-stuff__important {
  z-index: 10;
  display: flex;
  //width: 100%;

  background-color: $primaryYellow;
  padding: 15px 50px;
  align-items: center;
  @media(max-width: 851px) {
    padding: 20px 0;

  }

  &-container {
    padding: 0 100px;
    @media(max-width: 851px) {
      padding: 0 20px;
      line-height: 1.1;

    }

  }

  &--heading {
    font-size: 2rem;
    margin-bottom: 0;
    @media(max-width: 851px) {
      font-size: 1.6rem;

    }
  }

  &--text {
    font-size: 1rem;
    @media(max-width: 851px) {
      font-size: .9rem;

    }
  }
}