.main-section{
  display: flex;
  position: relative;
  z-index: 4;
  overflow: hidden;
  height: 100vh;

  @media(max-width: 1250px){
    justify-content: center;
    align-items: center;
  }

  &--heroImg{
    position: relative;
    z-index: 8;
    background: url("../assets/Home-Hero-Image.jpg") -395px -193px no-repeat;
    //background-size: cover;
    width: 900px;
    transition: .1s;
    @media (max-width: 1650px){
      width: 700px;
      background-position: -598px -193px;
    }
    @media(max-width: 1438px){
      width: 600px;
      background-position: -773px -193px;
    }
    @media(max-width: 1250px){
    display: none;
  }
  }
  &__panel{
    position: relative;
    left: 25%;
    top: 60%;
    transform: translate(-50%,-50%);
    transition: .1s;
    @media(max-width: 1250px){
      position: absolute;
      left: 50%;
      top: 30%;
    }

    .panel__top{
      width: 100%;
      text-align: center;
      margin-top: 85px;
      height: 165px;
      padding:  0 100px;
      @media(max-width: 1250px){
        font-size: 18px;

      }
      @media(max-width: 480px){
      padding: 20px 50px;
      }
      &--heading{
        font-size: 2em;
        color: $primaryBlack;
        font-weight: normal;
        @media(max-width: 480px){
          font-size: 1.7em;
        }
      }
      &--decoration{
        width: 253px;
        height: 33px;
        background: url("../assets/Decoration.svg");
        margin: 0 auto;

      }
    }
    .panel__bottom{
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
      padding: 0 70px;
      align-items: flex-start;
      @media(max-width: 1250px){
        margin-top: 65px;
      }
      @media(max-width: 729px){
        width: 90%;
        margin: 65px auto;
      }
      @media(max-width: 581px){
        width: 80%;
        margin: 65px auto;
      }
      @media(max-width: 480px){
        position: relative;
        top: 35px;
      }


      &-button{
        background-color: transparent;
        border: 1px solid $primaryDarkGray;
        width: 280px;
        height: 100px;

        &--link{
          text-decoration: none;
          text-transform: uppercase;
          color: $primaryBlack;
          font-weight: lighter;
          font-size: 2em;
          @media(max-width: 581px){
            font-size: 1.8em;
          }
        }
      }
      &-button:nth-of-type(2){
        margin-left: 25px;
          @media(max-width: 480px){
            display: none;
        }
      }
    }
  }

}