.main-section{
  display: flex;
  position: relative;

  z-index: 4;
  overflow: visible;
  height: 800px;
  @media(max-width: 1250px){
    justify-content: center;
    align-items: center;

  }
  &--heroImg{
    position: relative;
    z-index: 5;
    background: url("../assets/Home-Hero-Image.jpg") -395px -193px no-repeat;
    //background-size: cover;
    width: 900px;
    transition: .1s;
    @media (max-width: 1650px){
      width: 700px;
      background-position: -598px -193px;
    }
    @media(max-width: 1438px){
      width: 600px;
      background-position: -773px -193px;
    }
    @media(max-width: 1250px){
    display: none;
  }
  }
  &__panel{
    position: relative;
    left: 25%;
    top: 60%;
    transform: translate(-50%,-50%);
    transition: .1s;
    @media(max-width: 1250px){
      position: absolute;
      left: 50%;
      top: 30%;

    }




    .panel__top{
      width: 100%;
      text-align: center;
      margin-top: 85px;
      height: 165px;
      @media(max-width: 1250px){
        font-size: 18px;

      }
      &--heading{
        font-size: 2em;
        color: $primaryBlack;
        font-weight: normal;

      }
      &--decoration{
        width: 253px;
        height: 33px;
        background: url("../assets/Decoration.svg");
        margin: 0 auto;

      }
    }
    .panel__bottom{
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
      padding: 0 70px;
      align-items: flex-start;


      &-button{
        background-color: transparent;
        border: 1px solid $primaryDarkGray;
        width: 280px;
        height: 100px;
        &--link{
          text-decoration: none;
          text-transform: uppercase;
          color: $primaryBlack;
          font-weight: lighter;
          font-size: 2em;
        }
      }
      &-button:nth-of-type(2){
        margin-left: 25px;
      }
    }
  }

}