@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300,400&display=swap');

@import './normalize.css';
@import './settings/fonts.scss';
@import './settings/colors.scss';
@import './header.scss';
@import './mainSection.scss';
@import './columns.scss';
@import './simpleStepsSection.scss';
@import './aboutUsSection.scss';
@import './whoWeHelpSection.scss';
@import './whoWeHelpOrg.scss';
@import './contactUs.scss';
@import './footer.scss';
@import './loginSection.scss';
@import './registerSection.scss';
@import './logOut.scss';
@import './giveStuffSection.scss';
@import './giveStuffSteps.scss';

*{
  box-sizing: border-box;
}

//html,body {
//  width: 100%;
//  height: 100%;
//  margin: 0;
//  padding: 0;
//  overflow-x: hidden;
//}
.container{
  //max-width: 1800px;
  margin: 0 auto;
  //overflow: hidden;
  @media(max-width:780px){
    width : 100%;

  }
}
body{
  font-family: $font-base;
}