.simple-steps-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 55px;
  &__box{

  }
  &__box--heading{
    margin-bottom: 34px;
    &-title{
      font-size: 2rem;
      letter-spacing: -0.76px;
      color: $primaryBlack;
    }
    .decoration{
      width: 253px;
      height: 33px;
      background: url("../assets/Decoration.svg");
      margin: 0 auto;
    }
  }
  &__box--steps{
    display: flex;
    justify-content: center;
    background-color: $primaryLightGray;
    padding: 73px 0 62px 0 ;

    &-container{
      display: flex;
      flex-direction: row;
      width: 70%;
      justify-content: space-between;
      .step{
        width: 20%;
        color: $primaryBlack;
        &__title{
          font-size: 1.1rem;
          position: relative;
          &::after{
            position: absolute;
            content: '';
            display: block;
            height: 1px ;
            width: 70px;
            border-bottom: 1px solid $primaryDarkGray;
            left: 50%;
           bottom: -10px;
            transform: translate(-50%,-50%);
          }

      }
        &__text{
          margin-top: 21px ;
        }
      }
      .step-find{
        position: relative;
        bottom: 8px;
      }
    }

  }
  &__box--button{
    margin-top: 35px;
    margin-bottom: 80px;
    .steps-btn{
      background-color: transparent;
      border: 1px solid $primaryDarkGray;
      width: 280px;
      height: 100px;
      &__link{
        text-decoration: none;
        text-transform: uppercase;
        color: $primaryBlack;
        font-weight: lighter;
        font-size: 2em;
      }
    }
  }

}
